/* Custom properties */
:root {
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --pink: hsl(322, 100%, 66%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.hero {
  background-image: url(/images/bg-hero-desktop.svg);
  background-color: var(--pale-cyan);
  font-family: "Poppins", sans-serif;
  padding: 2.5em 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
}

.btn {
  text-decoration: none;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  color: hsl(192, 100%, 9%);
  border-radius: 5em;
  display: inline-block;
}

.nav-btn {
  color: var(--dark-cyan);
  padding: 0.5em 2em;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--pink);
  color: white;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.hero-text {
  margin-top: 25px;
  width: 45%;
}
.hero-text > h1 {
  color: var(--dark-cyan);
  margin-bottom: 20px;
  font-size: 3rem;
}

.hero-text p {
  color: var(--grayish-blue);
  margin-bottom: 30px;
}

.pink-btn {
  padding: 0.5em 2em;
  color: white;
  background-color: var(--pink);
}

.pink-btn:hover {
  background-color: white;
  color: var(--pink);
}
.hero-image {
  width: 50%;
  align-self: flex-start;
}

/* feature */

.feature-container {
  padding-top: 3.5em;
}

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5em 0em 3em 5em;
  border-radius: 0.5em;
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

.title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 1.5em;
}

.feature-image {
  flex-basis: 43%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* action box */

.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  max-width: 650px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em auto;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5em;
  gap: 1.5em;
  margin-top: 3rem;
  transform: translateY(6rem);
}

/* footer */

.footer {
  background-color: var(--dark-cyan);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  margin: 0 auto;
  color: white;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 450px;
  padding-top: 4rem;
}

.footer-logo {
  margin: 0 auto;
  width: 90%;
  padding-top: 6rem;
  filter: invert(83%) sepia(100%) saturate(1%) hue-rotate(287deg)
    brightness(106%) contrast(101%);
}

.location-item {
  max-width: 500px;
  list-style-image: url(./images/icon-location.svg);
}

.contact-item {
  max-width: 400px;
  list-style-image: url(./images/icon-phone.svg);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.email-item {
  max-width: 400px;
  list-style-image: url(./images/icon-email.svg);
  margin-bottom: 1rem;
}

.footer-links {
  margin-top: 1rem;
}

.social-icons {
  margin-left: 1rem;
  padding-right: 1rem;
}

.links:hover {
  color: var(--pink);
  cursor: pointer;
}

.attribution {
  margin-top: 1.5rem;
  font-size: 0.7em;
  text-align: center;
}

.attribution a {
  text-decoration: underline;
}

/* media queries */
@media only screen and (max-width: 750px) {
  .hero-section {
    display: block;
  }
  .hero-text {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 0.9rem;
  }
  .nav-bar {
    margin-bottom: 2em;
    align-items: center;
  }
  .logo {
    max-width: 100px;
  }
  .hero-image {
    width: 100%;
    padding-top: 2em;
    margin: 0 auto;
  }

  .nav-btn {
    font-size: 15px;
  }

  .hero-text > h1 {
    font-size: 2rem !important;
  }

  .feature {
    flex-direction: column;
    padding: 2em 1em;
    gap: 2em;
    text-align: center;
  }
  .feature p {
    font-size: 0.6em;
  }
  .feature h1 {
    font-size: 1em;
  }
  .feature-reverse {
    flex-direction: column-reverse;
  }

  .footer-container {
    flex-direction: column;
    font-size: 1rem;
  }

  .footer-container {
    height: 580px;
    padding-top: 3rem;
  }
  .box {
    width: 350px;
    text-align: center;
  }

  .btn {
    font-size: 0.9rem;
  }
  .footer-logo {
    width: 100px;
    text-align: left;
  }
  .contacts {
    margin-left: 1.3rem;
  }

  .attribution {
    font-size: 0.5rem;
  }
}
